/*ESTILOS ESCRITORIO PARA PAGINA Registrarse */
.bodyRegistrarse{
    height: 100vh;
    background:linear-gradient(to right top, #24242473,#24242473),url("../assets/img/bg-register.jpg");
    background-size: cover;
    background-position: center;
    .headerRegistrarse{
        color:#ffffff;
        height: 8vh;
        padding:30px;
        .anclaLogo{
            text-decoration: none;
            color: #ffffff;
            font-weight: 700;
            font-size: 1.2rem;
             /*animacion hover*/
            &:hover{
                animation: tilt-n-move-shaking 0.25s infinite;
            }
        }
    }
    .main{
         /*seccion de registrarse.html*/
        .seccionRegistrarse{
            background-color:rgb(42, 42, 42);
            width: 30%;
            margin:0 auto;
            border-radius: 5px;
            padding: 40px 20px;
            display: flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            height: 90vh;
            font-size:1.2rem;
            .tituloRegistrarse{
                font-size: 2.5rem;
                font-weight: 700;
                margin-bottom: 20px;
            }
            /*seleccionar todos los input menos el checkbox*/
            form{
                width: 100%;
                padding:40px;
                input:not(.check,.boton),select{
                    width: 100%;
                    margin-bottom: 10px;
                    height: 40px;
                    padding: 0px 20px;
                    font-size: 1.2rem;
                    border-radius: 20px;
                    border: 2px solid #9f3647;
                    background-color: #333333;
                    outline: none;
                    color:rgb(255, 255, 255);
                }
                .error input:not(.check,.boton),.error select{
                    border: 1px solid #ff0000;
                }
                .error-text{
                    color: #ff0000;
                    font-size: 0.8rem;
                    margin-top:0px;
                    margin-bottom: 10px;
                }
              
                .terminos{
                    font-size: 0.8rem;
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                    .textoCheck{
                        margin-left: 10px;
                    }
                }
                .boton{
                    width: 87%;
                    box-sizing: content-box;
                    background-color:#9f3647;
                    border: 2px solid #9f3647;
                    color: #ffffff;
                    padding: 1rem 1rem;
                    border-radius: 5px;
                    font-size: 1rem;
                    font-weight: 500;
                   
                }
                .ayuda{
                    margin-top:40px;
                    font-size: 1rem;
                    text-decoration: none;
                    color: #787878;
                    font-weight:400;
                   
                }
            }
           
        }
   
    }
}

/*ESTILOS ESCRITORIO Detalle Mario*/
.mainDetalle{
    
    .detalle{
        padding-top:50px;
        background:linear-gradient(to right top, #6d6969a7, #6d6969a7),url("../assets/img/mario-bg.jpg");
        background-size: cover;
        background-position: center;
        height: 70vh;
        .contenedorDetalle{
            width:75%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 60px;
            img{
              border-radius: 20px;
            }
            .textoDetalle{
                h1{
                    font-size: 2.2rem;
                    font-weight: 700;
                }
                h2{
                    margin-top:20px;
                }
                .contenedorCreditos{
                    margin-top:20px;
                    display: flex;
                    justify-content:space-between;
                }
            }
        }
        
        
       
    }
    .trailer{
        padding-top:150px;
        padding-bottom: 100px;
        width:75%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 70px;
        .contenedorInfo{
            .redes{
                margin-bottom: 20px;
                ul{
                    list-style: none;
                    display: flex;
                    column-gap: 20px;
                    li{
                        a{
                            text-decoration: none;
                            color: #ffffff;
                            font-size: 2.5rem;
                            margin-right: 50px;
                        }
                    }
                  
                }
            }
            .info{
                table{
                    width: 100%;
                    tr{
                        td{
                            font-size: 1.2rem;
                            padding: 10px 0px;
                        }
                    }
                }
            }
        }
    }

}
/*ESTILOS MOBILE Y TABLETS DETALLE*/
@media screen and (max-width:1200px){
    .mainDetalle{
        .detalle{
            height: initial;
            .contenedorDetalle{
                flex-direction: column;
                row-gap: 20px;
                img{
                    width: 100%;
                    height: 300px;
                }
                .textoDetalle{
                    h1{
                        font-size: 1.5rem;
                    }
                    h2{
                        font-size: 1rem;
                    }
                    .contenedorCreditos{
                        flex-direction: column;
                        row-gap: 10px;
                    }
                }
            }
        }
        .trailer{
            width:95%;
            padding-top:50px;
            padding-bottom: 50px;
            flex-direction: column;
            row-gap: 20px;
            .contenedorTrailer{
                width: 100%;
                h2{
                    margin-bottom: 20px;
                }
                iframe{
                    width: 100%;
                    height: 300px;
                
                }
            }
            .contenedorInfo{
                width: 100%;
                .redes{
                    width: 100% ;
                    ul{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                       
                        li{
                            a{
                                font-size: 2rem;
                                margin-right: 20px;
                            }
                        }
                    }
                }
                .info{
                    table{
                        tr{
                            td{
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*media querys para mobile PAGINA registrarse*/
@media (max-width: 1200px) {
    .bodyRegistrarse{
        .headerRegistrarse{
            padding:20px;
            .anclaLogo{
                font-size: 1rem;
            }
        }
        .main{
            .seccionRegistrarse{
                width: 95%;
                padding: 10px 10px;
                .tituloRegistrarse{
                    font-size: 2rem;
                }
               form{
                width: 100%;
                text-align: center;
               
                input:not(.check,.boton),select{
                    width: 80%;
                    height: 35px;
                    font-size: 1rem;
                }
                .terminos{
                    width: 80%;
                    margin:0 auto;
                    font-size: 0.7rem;
                }
                .boton{
                    margin-top: 20px;
                    margin-bottom: 20px;
                    width: 70%;
                    padding: 0.8rem 0.8rem;
                    font-size: 0.8rem;
                }
                .ayuda{
                    text-align: left;
                    font-size: 0.8rem;
                }
               }
               
            }
        }
    }

}
/*media querys para mobile PAGINA registrarse*/
@media (max-width: 1200px) {
    .bodyRegistrarse{
        .headerRegistrarse{
            padding:20px;
            .anclaLogo{
                font-size: 1rem;
            }
        }
        .main{
            .seccionRegistrarse{
                width: 95%;
                padding: 10px 10px;
                .tituloRegistrarse{
                    font-size: 2rem;
                }
               form{
                width: 100%;
                text-align: center;
               
                input:not(.check,.boton),select{
                    width: 80%;
                    height: 35px;
                    font-size: 1rem;
                }
                .terminos{
                    width: 80%;
                    margin:0 auto;
                    font-size: 0.7rem;
                }
                .boton{
                    margin-top: 20px;
                    margin-bottom: 20px;
                    width: 70%;
                    padding: 0.8rem 0.8rem;
                    font-size: 0.8rem;
                }
                .ayuda{
                    text-align: left;
                    font-size: 0.8rem;
                }
               }
               
            }
        }
    }

}
