@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif ;
    list-style: none;
    text-decoration: none;
}



/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: rgb(23, 23, 23);
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #9f3647;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:#9f3647;
}
body{
    background-color: #181419;
    color:white; 
}

/*ESTILOS HEADER PARA ESCRITORIO*/
header {
    background-color: #9f3647;
    color: #fff;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
}

.navbar--logo {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    padding: 20px;


}

.navbar--logo:hover {

    animation: tilt-n-move-shaking 0.25s infinite;
}

.navbar--list {
    display: flex;
    gap: 15px;
}

.navbar--link {
    color: white;
}

.login {
    background-color: black;
    padding: 10px 20px;
    border-radius: 5px;
}


/*ESTILOS PARA MAIN ESCRITORIO*/
.main{
    .sectionPrincipal{
        color:white;
        background:linear-gradient(to right top, #0000008a, #0000008a), url(../assets/img/banner-bg.jpg);
        background-size: cover;
        background-position: center;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        .tituloPrincipal{
            font-size: 4rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }
        .subtituloPrincipal{
            font-size: 2.2rem;
            font-weight: 400;
            margin-bottom: 1rem;
        }
        .botonRegistrarse{
            background-color:#9f3647;
            color: #ffffff;
            padding: 1rem 2rem;
            border-radius: 5px;
            font-size: 1.2rem;
            font-weight: 700;
            text-decoration: none;
             /* Agregar efecto de botón presionado */
             transition: transform 0.3s, box-shadow 0.3s;
             &:hover {
                 background-color: #9f3647;
                 transform: scale(0.95);
                 box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
             }
        }
    }
    .buscadorPrincipal{
        background-color: #181419;
        color:rgb(255, 255, 255);
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .tituloSection{
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }
        .buscadorPeliculas{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
            .inputBuscador{
                border: 2px solid white;
                border-radius: 25px;
                color: #000000;
                font-size: 1.2rem;
                height: 50px;
                margin: 20px 0px;
                outline: none;
                padding: 0px 20px;
                width: 500px;
            }
            .botonBuscador{
                background-color:#9f3647;
                display: inline-block;
                color:#ffffff;
                height: 50px;
                margin: 20px 10px;
                padding:0 20px;
                border-radius: 25px;
                font-size: 1.2rem;
                font-weight: 700;
                border: 2px solid white;
                text-align: center;
                 /* Agregar efecto de botón presionado */
                 transition: transform 0.3s, box-shadow 0.3s;
                 &:hover {
                     background-color: #9f3647;
                     transform: scale(0.95);
                     box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
                 }
            }
        }
       
    }
    .peliculasTendencia{
        width:80%;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
        .tituloSection{
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 40px;
        }
        .peliculas{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap:60px;
            a{
                text-decoration: none;
                color: #ffffff;
                .pelicula{
                    width:200px;
                    height: 300px;
                    position: relative;
                    overflow: hidden;
                    border-radius: 10px;
                    transition: all 0.5s ease;
                   
                    .imgTendencia{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 10px;
                       
                    }
                  
                    .tituloPelicula{
                        z-index: 2;
                        position: absolute;
                        text-align: center;
                        top: 50%;
                        left: 50%;
                        max-width: 20rem;
                        width: 100%;
                        transform: translateY(-50%) translateX(-50%);
                        h4 {
                            font-size: 1.6rem;
                            font-weight: bold;
                            opacity: 0;
                            margin-bottom: 0.5rem;
                            letter-spacing: 0.1rem;
                            transition: opacity 0.5s ease-in-out;
    
                        }
                    }
                    &:hover{
                       box-shadow: 0 0 30px #9f3648cd;
                       transform: scale(0.9);
                      
                    }
                    &:hover .tituloPelicula{
                        width: 100%;
                        height: 100%;
                        backdrop-filter: blur(20px);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    &:hover h4 {
                        width: 100%;
                        padding: 0.5rem;
                        opacity: 1;
                    }
                 
                }
            }
          
        }
        .boton{
            border: 1px solid white;
            box-sizing: content-box;
            margin-top:50px;
            margin-left:20px;
            background-color:#9f3647;
            color: #ffffff;
            padding: 1rem 1rem;
            border-radius: 5px;
            font-size: 1rem;
            font-weight: 500;
            text-decoration: none;
            margin-bottom:60px;
             /* Agregar efecto de botón presionado */
             transition: transform 0.3s, box-shadow 0.3s;
             &:hover {
                 background-color: #9f3647;
                 transform: scale(0.95);
                 box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
             }

        }
    }
    .peliculasAclamadas{
        width:80%;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
        margin-bottom:60px;
        .tituloSection{
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 40px;
        }
        .aclamadas{
            overflow-x: scroll;
            overflow-y: hidden;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 0px 0px 40px 0px;
            .peliculaItem{
                border-radius: 25px;
                width: 170px;
                min-width: 170px;
                font-size: 20px;
                cursor: pointer;
                margin-left: 30px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
               
                .imgAclamada{
                    border-radius: 5%;
                    width: 95%;
                    height: 95%;
                    object-fit: cover;
                }
                
            }
           
        
        }
    }
   
}


/*ESTILOS ESCRITORIO FOOTER*/
footer {
    background-color: #9f3647;
    color: #fff;
    padding: 20px;
}



.contact-info, .useful-links {
    flex: 1;
}

.contact-info h3, .useful-links h3 {
    margin-bottom: 10px;
}

.useful-links-container .useful--links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    list-style-type: none;
    padding: 0;
    font-size: 20px;
}

.useful-links-container .useful--links .list--items {
    
    margin-bottom: 5px;
    display: inline-block; 
    margin-right: 10px; 
}

.useful--links .link--nav {
    color: #fff;
    text-decoration: none;
    align-items: center;
}

.administrador--peliculas{
    padding: 0.5rem 0.8rem;
    background-color: black;
    border-radius: 10px;
} 

.copyright {
    text-align: center;
    margin-top: 20px;
}


hr{
    border: 1px solid #9f3647;
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}


.fullscreen-header {
    background-color: #333; /* Color de fondo del encabezado */
    color: #fff; /* Color del texto */
    height: 100vh; /* Altura del encabezado igual al 100% del viewport height */
    display: flex; /* Utiliza un contenedor flexible para centrar verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    text-align: center; /* Centra el texto horizontalmente */
}